html{height: 100%;}
body{height: 100%; background-image: linear-gradient(to right top, #85efe9, #6df0db, #5defc6, #5aeead, #64eb8f);}
.head{float: left; width: 100%; padding:30px 0;}
input {width: 100%; padding: 12px; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; margin-top: 6px; margin-bottom: 16px; }

/* Style the submit button */
input[type=submit] {background-color: #04AA6D; color: white; margin-top: 20px; }

/* Style the container for inputs */
.form {float: left; width: 100%; background-color: #f1f1f1; padding: 20px; }

/* The message box is shown when the user clicks on the password field */
#message {display:none; float: left; width: 100%; background: #f1f1f1; color: #000; position: relative; padding: 20px; margin-top: 10px; }

#message p {padding: 10px 35px; font-size: 18px; }

/* Add a green text color and a checkmark when the requirements are right */
.valid {color: green; }

.valid:before {position: relative; left: -35px; content: "#"; }

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {color: red; }

.invalid:before {position: relative; left: -35px; content: "X"; }px